<!--
Title:			LuTalk 嚕聊 - The Real-time Web Chat App
Author:			Jordan Yeh
Date(YY/MM/DD):	2016/09/09
Description:
	This is an 1 to 1 online chat webpage for LuTalk.
	Implement with AngularJs framework and MQTT protocol. 
	This is a web chat app in simple-chat mode.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="luTalkApp" ng-controller = "luTalkAppCtrl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
	<title ng-bind="vm.strPageTitle">LuTalk 嚕聊 （Angular Framework Demo）</title>
	<link rel="icon" type="image/png" href="assets/imgs/icon-rounded.png">
	<link rel="stylesheet" href="assets/css/chat.css" />
	<script src="assets/js/mqttws31.min.js"></script>               <!-- 連結MQTT Broker的函式庫 -->
	<script src="assets/js/Math.uuid.js"></script>                  <!-- 一個產生Unique ID的函式庫 -->
	<script src="assets/js/angular.min.js"></script>                <!-- 操控網頁元件的函式庫 -->
	<script src="assets/js/jquery-3.0.0.min.js"></script>           <!-- 操控網頁元件的函式庫 -->
	<script src="assets/js/angular-visibility-change.js"></script>	<!--  Page Visibility API -->
	<script src="assets/js/moment.min.js"></script>
  
	<script type="text/javascript">
		function autoClick () {
			// add listener	
			var audio = document.getElementById("audio_play");
			audio.addEventListener("click", function() {
				audio.play();
				if( audio.muted ) // 若正以靜音播放
				{
					audio.pause();
					audio.currentTime = 0;
				}
			}, false);
			//
			document.getElementById('btnConnect').click();
		}
	</script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-83862991-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body onLoad="autoClick()">
	<div id="container">
		<div id="top" ng-show="!vm.bSubscribed_strMyname">
			<div id="head" style="text-align:center">
				<h1 style="color: #ff0951; white-space:nowrap;">LuTalk 嚕聊</h1>
			</div>
			<!-- 網頁表單UI -->
			<div id="connect">
				<button id="btnConnect" style="display:none;" ng-click="action.connect()"></button>
			</div>
			<div id="setting" style="text-align:center">
				<div id="myname">
					<input type="text" name="myname" placeholder="輸入我的暱稱" autocomplete="off" ng-model="vm.strMyname">
				</div>
				<div id="object">
					<input type="text" name="object" placeholder="輸入密語對象" autocomplete="off" ng-model="vm.strObject">
				</div>
				<button id="btnSubscribe" ng-click="action.changeState()">{{vm.stateBtn}}</button>
			</div>
		</div>
		<div id="content" schroll-Bottom="vm.chatLog" ng-show="vm.bHasChatlog">
			<div id="app_logo">
				<img src="assets/imgs/icon-rounded.png"><br>
				<h1 style="color: #ff0951; white-space:nowrap;">LuTalk 嚕聊</h1>
				<span style="font-size: 18px;">【系統消息】 連線中...</span> <br> <br>
				<span style="font-size: 18px;" ng-show="vm.bConnected">【系統消息】 連線完成，開始聊天吧～</span>
			</div>
			<div mid="0" ng-repeat="logItem in vm.chatLog">
				<!-- 我方發言 -->
				<div class="msg right" ng-if="logItem.name.localeCompare(vm.strMyname) == 0">
					<div id="msg_info_right">
						<div id="read_state">{{logItem.state}}</div>
						<div id="msg_time">{{logItem.time}}</div>
					</div>
					<div id="text">
						{{logItem.content}}<span class="trigon"></span>
					</div>
				</div>
				<!-- 收到對方離開消息，顯示該消息
				<div class="msg middle" ng-if="logItem.state == 'system'">
					<div id="text" style="text-align: center; white-space:nowrap;">
						<span style="font-size: 18px;" ng-show="vm.bLeave_strObject">{{logItem.content}}</span>
					</div>
				</div> -->
				<!-- 對方發言 -->
				<div class="msg left" ng-if="logItem.name.localeCompare(vm.strMyname) != 0 && logItem.name != ' '">
					<div id="msg_info_left">
						<div id="msg_from">Web</div>
						<div id="msg_time">{{logItem.time}}</div>
					</div>
					<div id="text">
						{{logItem.content}}<span class="trigon"></span>
					</div>
				</div>
			</div>
			<!-- 對方打字中 -->
			<div class="msg left" ng-if="vm.bTyping">
				<div id="typing">
					打字中...<span class="trigon"></span>
				</div>
			</div>
			<div id="system_leave" ng-show="vm.bLeave_strObject">
				<span style="font-size: 18px; text-align: center;">對方已離開，請按離開按鈕退出 。</span>
			</div>
		</div>
		
		<footer ng-show="vm.bSubscribed_strMyname">
			<form>
				<div id="sendBox">
					<div id="test">
						<button id="testBtn" type="button" ng-click="action.changeState()">離開</button>
					</div>
					<div id="msgInput">
						<input type="text" placeholder="輸入訊息" autocomplete="off" ng-change="action.typing()" ng-model="vm.strMessage">
					</div>
					<div id="send">
						<button id="sendBtn" type="submit" ng-click="action.sendMessage()">發送</button>
					</div>
				</div>
			</form>
		</footer>
	</div>
	
	<!-- 直接以HTML5操作Audio -->
	<div style="display:none; width:0; height:0;">
		<audio id="audio_play" style="width:0; height:0;" autobuffer controls >
			<source src="assets/media/incomingMsg.mp3" type="audio/mpeg">
			<source src="assets/media/incomingMsg.wav" type="audio/wav">
		</audio>
	</div>
	
	<!-- 程式邏輯 -->
	<script type="text/javascript" src="assets/js/anonymous-chat-script.js"></script>
</body>
</html>
